<div class="container">
    <div class="now">
        <div class="col">

<h1 class="text-center"><%= @user.username %>'s Profile</h1>

<%= link_to 'Follow', relationships_path(friend_id: @user), method: :post %>

<h3>Tweets</h3>
<% @user.tweets.each do |tweet| %>
    <%= tweet.message %><br>
<% end %>

        </div>
    </div>
</div>