<p>
    <strong>Message:</strong> <%= @tweet.message %>
</p>

<p>
    <strong>User:</strong> <%= @tweet.user.username if @tweet.user %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet), class: "btn btn-secondary" %>
<%= link_to 'See All the Tweets', tweets_path, class: "btn btn-secondary" %>